body {
  margin: 0;
  font-family: 'Dosis', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #343434;
  background-color: #eae1c6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cc-app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.cc-content {
  flex-grow: 1;
}

.fish-icon {
  width: 48px;
  height: auto;
}

