.table.critter-table {
  color: #563928;
  background-color: #ded9bc;
  border-radius: 1rem;
}

.table.critter-table th {
  border: 0;
}

.table.critter-table thead {
  border-bottom: 2px dashed #785b31;
  text-transform: capitalize;
}

.table-hover.table.critter-table tbody tr:hover {
  color: #563928;
  background-color: rgba(0,0,0,.075);
}

.table.critter-table td.critter-img {
  padding: 0;
  text-align: center;
}

.table.critter-table tr td {
  border: 0;
  text-transform: capitalize;
}

.critter-table.table-striped tbody tr:nth-of-type(odd) {
  background-color: #d8d3b3;
}

td.critter-img img {
  width: 48px;
  height: auto;
}

.cc-critter-schedule-actions {
  display: flex;
  justify-content: flex-end;
  padding: 1rem 0;
}
.cc-critter-schedule-actions > div,
.cc-critter-schedule-actions > button {
  margin-left: 1rem;
}