.cc-navbar .nav{
  background-color: white;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  padding-top: 1.5rem;
}

.cc-navbar .nav a {
  color: #797979;
  text-transform: capitalize;
  font-weight: 800;
  padding: 0.2rem 5rem;
}

.cc-navbar .nav a:hover,
.cc-navbar .nav a.selected-page {
  text-decoration: none;
  color: #e58541;
}

.cc-navbar .scallop {
  height: 2rem;
  width: 100%;
  background: -webkit-gradient(radial, 50% 0, 10, 50% 0, 50, from(#FFF), color-stop(0.49, #FFF), color-stop(0.51, rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)));
  background-size: 49px 100%;
}